div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
    margin: 0;
    padding: 0;
}

html,
body {
    /*    padding-top: 70px;*/
    font-size: 18px;
    font-weight: 300;
    /*    font-family: "Encode Sans Condensed", "Noto Sans TC", sans-serif;*/
    font-family: 'Open Sans', "Noto Sans TC", sans-serif;
    background: url('../img/leaves-pattern.png') center center;
}

h1 {
    font-family: "Encode Sans Condensed", "Noto Sans TC", sans-serif;
    font-weight: 300;
    margin-top: 80px;
    font-size: 150%;
    letter-spacing: 6px;
}

h2 {
    font-family: "Encode Sans Condensed", "Noto Sans TC", sans-serif;
    font-size: 250%;
    letter-spacing: 4px;
    font-weight: 600;
}

h1:after {
    display: block;
    background-color: #e03d44;
    content: "";
    height: 2px;
    width: 120px;
    margin-top: 15px;
}

h3 {
    font-size: 30px;
    letter-spacing: 1px;
}

h3:after {
    height: 2px;
    background-color: #E03D44;
    content: "";
    width: 60px;
    margin-top: 18px;
    display: block;
}

h4 {
    font-size: 18px;
    letter-spacing: 1px;
}

h4:after {
    display:block;
    height: 2px;
    background-color: #e03d44;
    content: "";
    width: 60px;
    margin-top: 18px;
}

p {
    font-size: 20px;
    line-height: 1.9;
    letter-spacing: 0.5px;
}

.text-box {
    color: #fff;
    position: absolute;
    transform: translate(10%, 80%);
}

.btn:link {
    margin-top: 20px;
    font-weight: 100;
    border-radius: 8px;
    transition: background-color 0.5s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e03d44;
    color: #fff;
}

.btn-full:hover {
    background-color: rgba(224, 61, 68, 0.9);
}


/*---HEADER---*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(img/adult-art-beautiful-413880.jpg);
    height: 98vh;
    background-size: cover;
    /*讓背景圖自動填滿*/
    background-position: center;
    background-attachment: fixed;
}

/*---END HEADER---*/

/*--main nav--*/

.nav-row {
    padding: 0 30px;
}

.nav-float {
    float: right;
}

.logo {
    margin-top: 12px;
}

.navbg {
    background-color: rgba(42, 43, 47, 1);
}

.navbar-nav {
    float: right;
    font-weight: 200;
    text-align: right;
    line-height: 60px;
}

.navbar-nav li {
    margin-right: 20px;

}

.navbar-nav li a {
    text-decoration: none;
    color: #FFF;
}

.navbar-nav li a:hover {
    color: #e03d44;
    transition: 0.4s;
}

.navbar-brand {
    font-family: "Encode Sans Condensed", "Noto Sans TC", sans-serif;
    letter-spacing: 1px;
}



/*---ABOUT US---*/
.about-us {
    margin-bottom: 30px;

}

.title-row {
    text-align: center;
    margin-top: 20px;
}

.title-2nd-row {
    text-align: center;
    margin: 20px 30px;
}

.title {
    margin: 0 80px;
}

.title li {
    font-size: 20px;
    text-align: left;
}

.dividerCenter {
    height: 2px;
    width: 120px;
    background-color: #e03d44;
    margin: 15px auto;
}


/*---END ABOUT US---*/


/*---MENU---*/

.menu-overview {
    height: auto;
}

.menu-overview-padding {
    padding: 0;
}

.boxImage1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(img/boxImage1.jpg);
    height: 465px;
    background-size: cover;
    background-position: 50% 50%;
}

.boxImage2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(img/boxImage2.jpg);
    height: 465px;
    background-size: cover;
    background-position: 50% 50%;
}

.boxImage3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(img/boxImage3.jpg);
    height: 465px;
    background-size: cover;
    background-position: 50% 50%;
}

.imageBoxesTitle {
    position: absolute;
    bottom: 40px;
    padding: 24px;
}

.imageBoxesTitle span {
    font-size: 24px;
    color: #FFF;
}

.divider {
    width: 50px;
    height: 2px;
    background-color: #E03D44;
    margin-top: 6px;
}

.bgBlack {
    background-color: rgba(42, 43, 47, 1);
    width: 100%;
    height: 465px;
}

.wall-sticker {
    padding: 60px 30px;
}

.bgBlack p,
.bgBlack h3 {
    color: #FFF;
}

.lead {
    font-size: 18px;
    margin-top: 10px;
}

.location {
    margin-top: 20px;
}

.locBtn {
    line-height: 1;
    padding: 12px 12px;
    letter-spacing: 2px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(42, 43, 47, 1);
    border-radius: 8px;
}

.locBtn:hover {
    text-decoration: none;
    color: rgb(239, 36, 106);
    transition: 0.4s;
}

/*--Main Menu--*/

.menu-details {
    background-image: linear-gradient(rgba(255, 200, 125, 0.4), rgba(255, 255, 255, 0.6)), url(img/MainMenu.jpg);
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
}

.main-menu-margin {
    margin: 70px 0px 60px 20px;
}

.upper-row {
    padding-top: 20px;
    margin: 0 auto;
}

.bottom-row {
    margin: 0 auto;
}

.list-custom {
    list-style-type: none;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    margin: 20px;
}

.list-custom li {
    display: inline;
}

.menu-item {
    padding-left: 20px;
    padding-bottom: 10px;
}

.menu-item span {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(42, 43, 47, 1);
}

.smallText {
    font-size: 13.5px;
    opacity: 0.8;
}

/*--Menu Images--*/

.item-photo {
    background-color: #000;
    overflow: hidden;
}

.item-photo img {
    opacity: 0.7;
    width: 100%;
    transform: scale(1.15);
    transition: opacity 0.5s;
}

.item-photo img:hover {
    opacity: 1;
}

/*---testimonial---*/

.testimonialImg {
    /*--background: url(img/home-header.jpg);--*/
    background-size: cover;
    background-position: center;
}

.bgWhite {
    background-color: #fff;
    height: auto;
}

.testi-icon {
    width: 70px;
    border-radius: 60%;
}

.testi-icon:hover {
    transform: scale(1.15);
    transition: 0.4s;
}

.testi-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.testi-title span {
    font-size: 18px;
    display: block;
    font-weight: 400;
    color: rgba(42, 43, 47, 0.8);
}

.testi-info p {
    padding-top: 8px;
}

.box {
    margin-left: 10px;
    margin-top: 70px;
}


/*--Contact Us--*/

.messenger,
.messenger-center{
    margin: 20px;
}

.messenger-center{
    color: #d0d0d0;
    text-align: center;
}

.messenger-center h4{
    font-size: 110%;
    text-shadow: 2px 2px #555;
    color: #fff;
    font-weight: 600;
    margin: 30px;
}

.messenger-center h4:after {
    display: none;
}

.messenger-center p {
    font-size: 90%;
}

.bgColor-Orange {
    height: 350px;
    background-color: #de4e31;
}

.bgColor-Orange h3,
.bgColor-Orange p {
    color: rgba(255, 255, 255, 1);
}

.bgColor-Orange h3:after {
    background-color: #FFF;
}

.bgColor-Black {
    background-color: rgba(42, 43, 47, 1);
    width: 100%;
    height: 350px;
}

.bgColor-Black p,
.bgColor-Black h3 {
    color: #FFF;
}


.bgWhite {
    height: 480px;
    background-color: #FFF;
}

.mail:hover {
    color: rgba(224, 66, 19, 0.9);
    transition: 0.8s;
}

/*--Google Map--*/
#googleMap {
    width: 100%;
    height: 450px;
    margin-left: -13px;
    z-index: 9999;
}


.google-box h3 {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 130%;
}

.google-box h3:after {
    display: none;
}

.google-box p {
    font-size: 110%;
    letter-spacing: 0;
    margin-top: 10px;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

/*--footer--*/

.footer-bg {
    background-color: rgba(42, 43, 47, 0.9);
    color: rgba(255, 255, 255, 0.8);
}

.social-media {
    margin-top: 4px;
    font-size: 15px;
}

.social-media li {
    display: block;
    margin-top: 10px;
}

.social-media li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.4s;
}

.social-media a:hover {
    color: #4d7be0;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-instagram {
    font-size: 20px;
    margin: 9px;
}

.icon-box {
    width: 15px;
    text-align: center;
}


/*--footer--*/

.copyright {
    background-color: rgb(38, 39, 46);
}

.copyright a,
.copyright p {
    margin: 0 10px;
    line-height: 50px;
    font-size: 14px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

/*--footer--*/
.footernav {
    float: right;
}


